.merch {
    border-top: 1px solid lightgray;
    padding: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

#header {
    background-color: orange;
    width: 100%;
}

.cart {
    vertical-align: middle;
    display: inline;
}

.prodDesc {
    float: left;
    width: 75%;
}

.product {
    font-weight: bold;
}

.price {
    text-align: right;
    top: 50%;
    height: 20px;
    margin-top: 10px;
}

.price:before {
    content: "$";
}