

#header {
    background-color: orange;
    width: 100%;
    display: flex;
}

.cart {
    vertical-align: middle;
    display: inline;
}

.merch {
    border-top: 1px solid lightgray;
    padding: 20px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    width: 75%;
}

.prodDesc {
    display: block;
}

.product {
    font-weight: bold;
}

.price {
    display: flex;
    align-content: flex-end;
    /* display: flex;
    justify-content: flex-end; */
}