

#header {
    background-color: orange;
    width: 100%;
    padding: 1em;
    margin-bottom: 4em;
}

.cart {
    vertical-align: middle;
    display: inline;

}

#cartLabel {
    color: #A76A04;
    font-weight: bold;
    margin-left: 20px;
}

.merch {
    border-top: 1px solid lightgray;
    padding: 15px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.product {
    font-weight: bold;
}

.description {
    font-size: 0.85em;
    color: rgb(150,150,150);
}

.price {
    margin-left: 5%;
}